<h1 class="text-center text-decoration-underline mb-5">Add Books</h1>
<form [formGroup]="addForm" (ngSubmit)="add()" class="w-50 m-auto" enctype="multipart/form-data">
    <div class="form-group">
        <input type="text" formControlName="name" class="form-control" placeholder="Book Name">
        <input type="text" formControlName="details" class="form-control my-4" placeholder="Book Details">
        <input type="number" formControlName="numberOfPages" class="form-control" placeholder="Number of Pages">
        <input type="number" formControlName="price" class="form-control my-4" placeholder="Price">
        <input type="file" formControlName="coverName" class="form-control" (change)='onFileChange($event)'>
        <div class="my-4">
            <label>Category</label>
            <select formControlName="cat_id" class="form-control" >
                <option *ngFor = "let item of category" value="{{item.id}}">{{item.name}}</option>
            </select>
        </div>
        <div>
            <label>Author</label>
            <select formControlName="author_id" class="form-control">
                <option *ngFor = "let item of author" value="{{item.id}}">{{item.name}}</option>
            </select>
        </div>
    </div>

    <button type="submit" class="btn-lg btn-primary my-4">Add</button>

</form>
