<h1 class="text-center text-decoration-underline mb-5">Deleted Books</h1>

<table class="table w-50 m-auto table-bordered ">
    <thead>
        <tr class="text-center">
            <th>Deleted Books</th>
            <th>Restore Books</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let item of archiveData" class="text-center">
            <td>{{item.name}}</td>
            <td>
                <div class="col-md-4 m-auto"> 
                    <button type="submit" class="btn btn-primary"  *ngIf="archiveData">
                        <a  class="text-white text-decoration-none" data-bs-toggle="modal" data-bs-target="#restore">Restore</a>
                    </button>
                </div>
            </td>
        </tr>
    </tbody>
</table>



<div class="modal fade" id="restore" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          Do you want to restore book?
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cancel</button>
          <button type="button" class="btn btn-primary" (click)="restore()">Restore Book</button>
        </div>
      </div>
    </div>
  </div>
